body{
  background-color: #C0A080;
  text-align: center;
}
h1{
  width: 20%;
  margin: 40px auto 0 auto;
  font-family: 'Sacramento', cursive;
  font-size: 5.625rem;

}
h2{
  font-family: 'Montserrat', sans-serif;
  font-size: 2.5rem;
  font-weight: normal;
  color: #750550;
}
h3{
  font-family: 'Merriweather', serif;
  color: #FFE59D;
}
.intro{
  color: #E4E9BE;
}
.mountain{
  width: 60%;
}
.top-cloud{
  margin: 0;
  position: absolute;
  right:300px;
}
.bottom-cloud{
  position:absolute;
  left:400px;
  }
.skill-row{
  width: 50%;
  margin: 100px auto 100px auto;
  line-height: 2;

}
.comp1{
  width:25%;
  float:left;
  margin-right:20px;
}
.itachi{
  width: 25%;
  float: right;
  margin-left:20px;

}
